<div class="control-section">
  <ejs-schedule #scheduleObj width='100%' height='550px' [selectedDate]="selectedDate" [group]="group"
      [eventSettings]="eventSettings" (actionBegin)="onActionBegin($event)" (eventRendered)="onEventRendered($event)"
      [showQuickInfo]="showQuickInfo">
      <e-resources>
          <e-resource class="r1" field='ProjectId' title='Choose Project' name='Projects' [dataSource]='arrsche'
              textField='appointmentType' idField='PracticeListId' colorField='appointmentColor'>
          </e-resource>
          <e-resource class="r2" field='CategoryId' title='Category' name='Categories' [dataSource]='arrsche'
              [allowMultiple]='allowMultiple' textField='providerName' idField='PracticeListId'
              colorField='appointmentColor'>
          </e-resource>
      </e-resources>


      <ng-template #editorTemplate let-data>
          <div>
              <mat-tab-group animationDuration="0ms" [(selectedIndex)]=selectedIndextab>
                  <mat-tab label="Demographics">
                      <!-- <app-demographics></app-demographics> -->
                      <!-- <button style="float: right;margin-right: 410px;" class="btn btn-secondary btn-next" (click)="selectedIndextab = 1">Next</button>
                          <button style="float: right" class="btn btn-warning">Previous</button> -->
                  </mat-tab>
                  <mat-tab label="Insurance">
                      <!-- <h1>Insurance</h1> -->
                      <!-- <app-insurance></app-insurance> -->
                      <button style="float: right;margin-right: 410px;" class="btn btn-secondary btn-next"
                          (click)="selectedIndextab = 2">Next</button>
                      <button style="float: right" class="btn btn-warning"
                          (click)="selectedIndextab = 0">Previous</button>
                  </mat-tab>
                  <mat-tab label="Appointments">
                      <!-- <app-appointments></app-appointments> -->
                      <button style="float: right;margin-right: 410px;" class="btn btn-secondary btn-next"
                          (click)="selectedIndextab = 3">Next</button>
                      <button style="float: right" class="btn btn-warning"
                          (click)="selectedIndextab = 1">Previous</button>

                  </mat-tab>
                  <mat-tab label="Referral Source">
                      <!-- <app-referralsource></app-referralsource> -->
                      <button style="float: right;margin-right: 410px;" class="btn btn-secondary btn-next"
                          (click)="selectedIndextab = 4">Next</button>
                      <button style="float: right" class="btn btn-warning"
                          (click)="selectedIndextab = 2">Previous</button>
                  </mat-tab>
                  <mat-tab label="Documents">
                      <!-- <app-menusidebar></app-menusidebar> -->
                      <button style="float: right;margin-right: 410px;" class="btn btn-secondary btn-next"
                          (click)="selectedIndextab = 5">Next</button>
                      <button style="float: right" class="btn btn-warning"
                          (click)="selectedIndextab = 3">Previous</button>
                  </mat-tab>
                  <mat-tab label="Care Team">

                      <!-- <app-careteam></app-careteam> -->
                      <button style="float: right;margin-right: 410px;" class="btn btn-secondary btn-next"
                          (click)="selectedIndextab = 6">Next</button>
                      <button style="float: right" class="btn btn-warning"
                          (click)="selectedIndextab = 4">Previous</button>
                  </mat-tab>
                  <mat-tab label="Appointment Memo">
                      <!-- <app-appointmentmemo></app-appointmentmemo> -->
                      <button style="float: right;margin-right: 410px;"
                          class="btn btn-secondary btn-next">Next</button>
                      <button style="float: right" class="btn btn-warning"
                          (click)="selectedIndextab = 5">Previous</button>
                  </mat-tab>
              </mat-tab-group>
          </div>
      </ng-template>
  </ejs-schedule>

  <div class="col-lg-3 property-section">
    <div class="property-panel-section">
        <div class="property-panel-header">Properties</div>
        <div class="property-panel-content">
            <div id="property" class="property-panel-table" title="Properties">
                <table id="property" title="Properties" style="width: 100%">
                    <tbody>
                        <tr style="height: 50px">
                            <td>
                                <div>
                                    <ejs-checkbox label="Enable Tooltip" [checked]="true" (change)="onChange($event)"></ejs-checkbox>
                                </div>
                            </td>
                        </tr>
                        <tr style="height: 50px">
                            <td>
                                <div>
                                    <ejs-checkbox label="Enable Tooltip Template" [checked]="true" (change)="onTemplateChange($event)"></ejs-checkbox>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</div>
